<html>

<head>
    <title>Welcome!</title>
</head>

<body>
    <h1>Welcome to the Room Aestheticizer!</h1>
    <p>What room would you like to design today?</p>
    <form method = "Post" action= "/results">
        <!--<form action="/action_page.php">-->
        <select name="room_type">
    <option value="bedroom">Bedroom</option>
    <option value="dining room">Dining Room</option>
    <option value="living room">Living Room</option>
  </select>
    
    <p>What type of furniture are you interested in?</p>
    
        <!--<form action="/action_page.php">-->
        <select name="furniture">
    <option value="couch">Couches</option>
    <option value="table">Tables</option>
    <option value="bed">Beds</option>
    <option value="chair">Chairs</option>
    <option value="light">Lights</option>
  </select>
    
    <p>What color interests your furniture needs?</p>
    
        <!--<form action="/action_page.php">-->
        <select name="color">
    <option value="blue">Blue</option>
    <option value="black">Black</option>
    <option value="white">White</option>
    <option value="brown">Brown</option>
    <option value="red">Red</option>
  </select>
        <br><br>
        <input type="submit">
    </form>
</body>

</html>
