<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
<div class="login">
		<header class="major">
		<h2><a>Welcome to the Room Aestheticizer {{name}}!</a></h2>
						
		<p><br>Just an incredibly simple site to customize your room!!<br /> </p>
		</header>
			
<h2>Log in</h2>
<div>
    <form action="/loginattempt" method="POST">
        <label for="name">Name</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Log In">
    </form>
    <p>No account? <a href="/signup">Sign up.</a></p>
</div>
</div>
</div>
<section id="header">
		<header>
			<span class="image avatar"><img src="/static/images/koala.jpg" alt="" /></span>
			<h1 id="logo"><a href="#">Welcome to the Room Aestheticizer!</a></h1>
			<p>I am a website that will help you decorate your room.<br /></p>
		</header>
		</section>
    </body>
</html>